
<div id="tidydata-setup">
  <h3>Tidy Data</h3>
  <p>
    Tidy data introduces best practices for working with data in spreadsheets. If you don't have a spreadsheet program installed please follow the download instructions <a href="https://librarycarpentry.org/lc-spreadsheets/setup.html">here</a>. Please also download the data <a href="https://librarycarpentry.org/lc-spreadsheets/data/training_attendance.xlsx">here</a>.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to install it and the data used in the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson</a>.
  </p>
</div>

<div id="r-setup">
  <h3>R</h3>
  <p>
    Coming Soon...
  </p>
</div>
